.header-div {
    width: 100%;
    height: 70px;
    background-color: pink;
    border-bottom: 2px solid coral;
}

.home {
    background-color: brown;
    padding: 10px;
}

.logout {
    background-color: brown;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.menu {
    justify-content: space-between;
    display: flex;
    padding: 15px;
}
